@import url("https://fonts.googleapis.com/css?family=Jost:400,500,600&display=swap");

body {
    background: url(background.jpg) no-repeat top right;
    font-family: "Jost", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    /* margin-top: 10%;
    margin-left: 48%;  */
    background: #ffa55b;

    overflow: hidden;
    width: 500px;
    height: 150px;
    padding: 10px;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

.content {

    animation-name: ToBeAnimate;
    animation-direction: normal;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    left: 0px;

}

@keyframes ToBeAnimate {

    0% {
        top: 0px;
    }

    33% {
        top: -100px;
    }

    66% {
        top: -195px;
    }

    100% {
        top: 0px;
    }

}